<div class="ball-selector-wrapper">
  <div class="title">Numbers {{ selectedBall.number }}</div>
  <div class="balls-row">
    <div
      class="ball"
      *ngFor="let ball of balls"
      [ngClass]="{ selected: selectedBall.number === ball.number }"
      [ngStyle]="{ 'background-color': ball.color }"
      (click)="selectBall(ball)"
    >
      {{ ball.number }}
    </div>
  </div>
  <div
    class="reset-selection"
    *ngIf="selectedBall.number !== 0"
    (click)="resetSelection()"
  >
    Clear selection
  </div>
  <div class="bet-result" *ngIf="showBetResult">
    <div>Result</div>
    <div class="ball" [ngStyle]="{ 'background-color': randomBall.color }">
      {{ randomBall.number }}
    </div>
    <div class="won-lost" [ngClass]="{ 'won ': betWon }">
      You
      <span
        >{{ betWon ? "won " + betAmount * 1.5 : "lost " + betAmount }} €</span
      >
    </div>
    <button class="continue" (click)="continue()">Continue playing</button>
  </div>
</div>
